<div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="blue">
        
        <a href="index.html" class="logo">
            <img src="{{base_url}}assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="icon-menu"></i>
            </span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="icon-menu"></i>
            </button>
        </div>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
        
        <div class="container-fluid">
            <div class="collapse" id="search-nav">
            </div>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item dropdown hidden-caret">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                        <div class="avatar-sm">
                            {% if role_user_login != 3 %}
                            <img src="{{base_url}}assets/img-profil/guru/{{foto_user_login}}" alt="{{foto_user_login}}" class="avatar-img rounded-circle">
                            {% else %}
                            <img src="{{base_url}}assets/img-profil/siswa/{{foto_user_login}}" alt="{{foto_user_login}}" class="avatar-img rounded-circle">
                            {% endif %}
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <div class="dropdown-user-scroll scrollbar-outer">
                            <li>
                                <div class="user-box">
                                    <div class="avatar-lg">
                                        {% if role_user_login != 3 %}
                                        <img src="{{base_url}}assets/img-profil/guru/{{foto_user_login}}" alt="{{foto_user_login}}" class="avatar-img rounded">
                                        {% else %}
                                        <img src="{{base_url}}assets/img-profil/siswa/{{foto_user_login}}" alt="{{foto_user_login}}" class="avatar-img rounded">
                                        {% endif %}
                                    </div>
                                    <div class="u-text">
                                        <h4>{{nama_user_login}}</h4>
                                        <p class="text-muted">{{jabatan_user_login}}</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{base_url}}myProfile">My Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{base_url}}logout">Logout</a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
</div>

<!-- Sidebar -->
<div class="sidebar sidebar-style-2">			
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                        {% if role_user_login != 3 %}
                        <img src="{{base_url}}assets/img-profil/guru/{{foto_user_login}}" alt="{{foto_user_login}}" class="avatar-img rounded-circle">
                        {% else %}
                        <img src="{{base_url}}assets/img-profil/siswa/{{foto_user_login}}" alt="{{foto_user_login}}" class="avatar-img rounded-circle">
                        {% endif %}
                </div>
                <div class="info">
                    <a>
                        <span>
                            {{nama_user_login}}
                            <span class="user-level">{{jabatan_user_login}}</span>
                            <!-- <span class="caret"></span> -->
                        </span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item" id="dashboard-page">
                    <a href="{{base_url}}">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                {% if role_user_login == 1 %} 
                <li class="nav-item" id="li-kelola">
                    <a data-toggle="collapse" href="#base" id="user-page">
                        <i class="fas fa-list"></i>
                        <p>Kelola Data</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li id="sub-guru">
                                <a href="{{base_url}}listGuru" >
                                    <span class="sub-item">Guru</span>
                                </a>
                            </li>
                            <li id="sub-siswa">
                                <a href="{{base_url}}listSiswa" >
                                    <span class="sub-item">Siswa</span>
                                </a>
                            </li>
                            <li id="sub-akun">
                                <a href="{{base_url}}listAkun" >
                                    <span class="sub-item">Kelola Akun</span>
                                </a>
                            </li>
                            <li id="sub-kelas">
                                <a href="{{base_url}}listKelas" >
                                    <span class="sub-item">Kelola Kelas</span>
                                </a>
                            </li>
                            <li id="sub-walimurid">
                                <a href="{{base_url}}listWalimurid" >
                                    <span class="sub-item">Kelola Walimurid</span>
                                </a>
                            </li>
                            <li id="sub-jenispelanggaran">
                                <a href="{{base_url}}listJenispelanggaran" >
                                    <span class="sub-item">Kelola Jenis Pelanggaran</span>
                                </a>
                            </li>
                            <li id="sub-sanksi">
                                <a href="{{base_url}}listSanksi">
                                    <span class="sub-item">Kelola Sanksi</span>
                                </a>
                            </li>
                            <li id="sub-absensi">
                                <a href="{{base_url}}listAbsensi">
                                    <span class="sub-item">Nilai Absensi</span>
                                </a>
                            </li>
                            <li id="sub-pelanggaran">
                                <a href="{{base_url}}listPelanggaran">
                                    <span class="sub-item">Pelanggaran</span>
                                </a>
                            </li>
                            <li id="sub-catatan">
                                <a href="{{base_url}}listCatatan">
                                    <span class="sub-item">Catatan Kasus</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item" id="kmeans-page">
                    <a href="{{base_url}}kmeans">
                        <i class="fas fa-pen-alt"></i>
                        <p>Perhitungan Kmeans</p>
                    </a>
                </li>
                {% elseif role_user_login == 2 %}
                <li class="nav-item" id="li-kelola">
                    <a data-toggle="collapse" href="#base" id="user-page">
                        <i class="fas fa-list"></i>
                        <p>Kelola Data</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li id="sub-siswa">
                                <a href="{{base_url}}listSiswa" >
                                    <span class="sub-item">Siswa</span>
                                </a>
                            </li>
                            <li id="sub-absensi">
                                <a href="{{base_url}}listAbsensi">
                                    <span class="sub-item">Nilai Absensi</span>
                                </a>
                            </li>
                            <li id="sub-pelanggaran">
                                <a href="{{base_url}}listPelanggaran">
                                    <span class="sub-item">Pelanggaran</span>
                                </a>
                            </li>
                            <li id="sub-catatan">
                                <a href="{{base_url}}listCatatan">
                                    <span class="sub-item">Catatan Kasus</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item" id="kmeans-page">
                    <a href="{{base_url}}kmeans">
                        <i class="fas fa-pen-alt"></i>
                        <p>Perhitungan Kmeans</p>
                    </a>
                </li>
                {% elseif role_user_login == 3 %}
                <li class="nav-item" id="li-kelola">
                    <a data-toggle="collapse" href="#base" id="user-page">
                        <i class="fas fa-list"></i>
                        <p>Kelola Data</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li id="sub-pelanggaran">
                                <a href="{{base_url}}listPelanggaran">
                                    <span class="sub-item">Pelanggaran</span>
                                </a>
                            </li>
                            <li id="sub-catatan">
                                <a href="{{base_url}}listCatatan">
                                    <span class="sub-item">Catatan Kasus</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item" id="kmeans-page">
                    <a href="{{base_url}}kmeans">
                        <i class="fas fa-pen-alt"></i>
                        <p>Perhitungan Kmeans</p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->