{% extends "main/templates/layout.html" %}
{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Kelola Kelas</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="{{base_url}}">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{base_url}}listGuru">kelola Kelas</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">List Kelas
                                <span class="float-right"><button class="btn btn-primary btn-sm" id="btn-tambah-kelas" title="Tambah Kelas"><i class="fa fa-plus"></i></button></span>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table-kelas" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Kode Kelas</th>
                                            <th>Nama kelas</th>
                                            <th>Keterangan Kelas</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Modal-->
     <div class="modal fade" id="modal-kelas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="form-kelas">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="form-control-label">Kode Kelas </label>
                                    <input type="text" name="kode_kelas" id="kode_kelas" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="" class="form-control-label">Nama Kelas</label>
                                    <input type="text" name="nama_kelas" id="nama_kelas" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="" class="form-control-label">Keterangan Kelas </label>
                                    <textarea name="keterangan_kelas" id="keterangan_kelas" cols="3" rows="3" class="form-control" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- id and operation -->
                    <input type="text" name="id_kelas" id="id_kelas" hidden>
                    <input type="text" name="operation" id="operation" hidden>
                    <!-- end -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="{{base_url}}assets/action/kelas.js"></script>
{% endblock %}